.contact-section {
    min-height: 70vh;
    background-color: #0a0a0a;

    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 5rem 1rem; */
  }
  
  .contact-content {
    max-width: 900px;
    width: 100%;
    text-align: center;
  }
  
  .section-subtitle {
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #fdf9f9;
    margin-bottom: 1.5rem;
    display: block;
  }
  
  .section-title {
    font-size: 4rem;
    font-weight: 700;
    color: #f7f6f6;
    margin-bottom: 2rem;
    line-height: 1.2;
  }
  
  .contact-description {
    font-size: 1.25rem;
    color: #f7f3f3;
    max-width: 600px;
    margin: 0 auto 3rem;
    line-height: 1.6;
  }
  
  .email-link {
    font-size: 2rem;
    color: #faf9f9;
    text-decoration: none;
    font-weight: 300;
    display: block;
    margin-bottom: 4rem;
    transition: color 0.3s;
  }
  
  .email-link:hover {
    color: #666;
  }
  
  .social-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  .social-link {
    color: #f5f0f0;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .social-link:hover {
    color: #a0c8e7;
  }